body {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    background-color: rgb(246, 215, 220);
    text-align: center;
}
ul {
    text-decoration: line-through;
}
p {
    font-size: 1.5rem;
}
h1 {
    color:red;
    font-size: 2.5rem;
}